.card {
    margin-bottom: 10px;
    margin-top: 10px;
}
body {
    padding-top: 70px;
}


.jumbotron{
    margin: auto;
    height: 600px;
    width: auto ;
    background-image:url("../img/image1.png");
    background-size: cover;
}